body {
    height: auto;
    color: #888;
    font-family: "Roboto",sans-serif;
}

body.welcome {
    background: rgba(0, 0, 0, 0) url("/images/home-bgimage.jpg") no-repeat scroll 0 0 / cover ;
    height: auto;
    color: #888;
    font-family: "Roboto",sans-serif;
}

* {
    box-sizing: border-box;
}

footer {
	bottom: 0;
    float: left;
    position: fixed;
    width: 100%;
}

#credits {
    background: #153b65 none repeat scroll 0 0;
    bottom: 0;
    padding: 14px 0;
    width: 100%;
}

.text-center {
    text-align: center;
}

.footer-text h5 {
    color: #fff;
    float: left;
    font-family: roboto;
    font-size: 14px;
    padding-left: 3%;
    margin: 15px 0px;
}

h5, h6 {
    letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.05em;
    margin: 2em 0;
    text-transform: uppercase;
}

.footer-socialicon ul {
    margin-bottom: 0;
}
p, .wp-caption-text, .wp-audio-shortcode, ul, ol, div.gallery {
    margin-bottom: 2em;
}
.footer-socialicon ul li {
    display: inline-block;
    padding: 10px 0;
}

.fm-outer {
    overflow: visible;
}

#loader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000;
}
a, button, .button, #header #main-nav > li:hover, .apply-with-facebook, .apply-with-linkedin, .apply-with-xing, .widget li {
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
#header {
    line-height: 40px;
}
#header, #header-background {
    background-color: #14b1bb;
}
.alert {
	color: #900;
	font-weight: bold;
	font-style: italic;
}
.sidenav {
    height: 100vh;
}
.sidenav {
    background-color: rgba(21, 59, 101, 0.65);
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}
#header a {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-left: 60px;
    padding: 4px 0;
    text-align: justify;
    text-transform: capitalize;
}
a.closebtn {
    position: absolute;
    right: 20px;
    z-index: 1001;
}
#main {
    color: #fff;
    padding: 0;
    position: fixed;
    right: 24px;
    top: 28px;
    transition: margin-top 0.5s ease 0s;
    z-index: 9999;
}
#main span {
    background: rgb(21, 59, 101) none repeat scroll 0 0;
    border-radius: 50px;
    display: inline;
    font-size: 28px;
    padding: 6px 10px;
}
.abc {
    background: #153b65 none repeat scroll 0 0;
    float: right;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 9;
}
.page-id-254 .header-logo {
    text-align: center;
}
.page-id-254 .header-logo {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.header-logo {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 3px #dad6d6;
    height: 95px;
    position: fixed;
    text-align: justify;
    width: 100%;
}

.page-id-254 .header-logo img {
    margin-top: 50px;
    width: 40%;
}
.header-logo img {
    margin-left: 2%;
    padding: 10px 0;
    width: 80px;
}
.page-id-254 #title {
    padding-bottom: 0;
    padding-top: 20%;
    text-align: center;
}
#title {
    margin-top: 1%;
    padding-bottom: 9px;
    text-align: center;
    width: 100%;
}
body.page section#content {
    padding-bottom: 0;
}
section#content {
    clear: both;
    padding-bottom: 80px;
}
section#content {
    margin-top: 40px;
}
.guest_user_home_search_main {
    margin: 0 auto;
    width: 61%;
}

.footer-socialicon ul li i {
    color: #fff;
    font-size: 24px;
    padding: 0 8px;
}

IMG.menu_icon {
	height: 40px;
	float: right;
	margin: 10px 20px 0px 0px;
	cursor: pointer;
}
HEADER {
	height: 100px;
	width: 100%;
	border-bottom: 2px solid #EEE;
	padding: 10px 0px 0px 0px;
}
HEADER IMG.logo{
	height: 80px;
	padding: 0px 0px 0px 100px;
	float: left;
}
HEADER H1 {
	text-align: center;
	margin: 25px 0px 0px 0px;
	font-family: "Roboto",sans-serif;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #153b65;
    text-indent: 200px;
}
HEADER IMG.menu_icon {
	margin: 20px 20px 0px 0px;
}
.postform {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    padding-left: 10px;
    width: 152px;
}

NAV {
	display: none;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;
	background-color: #153b65;
	color: #FFF;
}

NAV a{
	color: #FFF;
}

NAV a.close {
	text-align: right;
    color: #FFF;
/*     float: right; */
    font-size: 18px;
    font-weight: bold;
    margin: 10px 15px 10px 0px;
/*     text-shadow: none; */
    opacity: 1;
    line-height: 24px;
}

NAV UL {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 50px 10px 0px 50px;
}

NAV UL LI {
	font-size: 20px;
}

SECTION#title {
	padding: 40px 0px 0px 0px;
}
SECTION#title IMG {
	width: 180px;
}
SECTION#title H1 {
	color: #153b65;
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.3px;
    position: inherit;
    text-align: center;
    text-transform: initial;
}

INPUT {
	height: 45px;
}
INPUT.search_icon {
	margin: 0px 0px -10px 0px;
}
SELECT {
	height: 45px;
}

.main-loginform {
    background: rgba(122, 149, 196, 0.68) none repeat scroll 0 0;
    margin: 0 auto;
    padding: 20px 80px;
    width: 570px;
}

.main-loginform h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin: 10px 0 25px;
    padding-bottom: 20px;
    text-align: center;
}

.cjfm-login-form .fa {
    border-right: 1px solid;
    float: left;
    font-size: 20px;
    height: 100%;
    line-height: 16px;
    padding: 10px 25px 11px 10px;
    top: 0;
    width: 25px;
    background-color: #FFF;
    color: #ababab;
    margin: 0px -1px 0px 0px;
    
}

.cjfm-login-form input.form-control {
	width: 375px;
}
.cjfm-form .control-group {
    margin-bottom: 20px;
}


.cjfm-form .cjfm-btn {
    background: #5cb85c none repeat scroll 0 0;
    border: 1px solid #48a448;
    color: #ffffff;
}
.control-group.submit-button button {
    background-color: #265a94;
    border-radius: 0;
    float: right;
    padding: 10px 25px;
}
.cjfm-login-form button#do_login {
    font-size: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.cjfm-form form .forgot-password-link {
    float: right;
}
a.button-suffix.forgot-password-link {
    color: #fff;
}
.cjfm-form .button-suffix {
    margin-left: 10px;
}

span.cjfm-inline-block.button-suffix input {
    height: 15px;
    margin: 0;
}

label {
    color: #222;
    font-weight: normal;
}
.cjfm-form label {
    line-height: 1.6;
}
.cj-form-edit-profile label {
    color: #888;
}
.submit-button label {
    text-transform: capitalize;
}
.cjfm-login-form span, .cjfm-login-form label {
    color: #fff;
}

.cj-form-edit-profile form label.control-label {
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    width: 40%;
}
.cj-form-edit-profile form span.cjfm-relative {
    float: left;
    width: 60%;
}
.close:hover, .close:focus {
	color: #33a8de;
}

.cjfm-form {
    max-width: 100%;
    margin-bottom: 15px;
}
.cj-form-edit-profile {
    margin-bottom: 93px;
    width: 100%;
}

.cj-form-edit-profile form {
    margin: 0 auto;
    width: 60%;
}

.job_filters {
    float: left;
    width: 100%;
}
.job_filters, .resume_filters {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 60px;
    padding: 15px;
}
form.job_filters {
    background: #1d4068 none repeat scroll 0 0;
    border: 0 none;
}

.search_jobs {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.search_jobs, .search_resumes {
    display: table;
    width: 100%;
}

.search_keywords, .search_location, .search_categories, .search_region, #content .gjm-filter-wrapper, #content .grm-filter-wrapper {
    float: left;
    padding: 15px;
    width: 33.3333%;
}
.search_jobs .search_keywords, .search_jobs .search_location {
    width: 50%;
}

.search_keywords label, .search_location label, .search_categories label {
    display: block;
    float: none;
    width: 100%;
}
.search_jobs label, ul.job_types label {
    color: #fff;
    text-transform: uppercase;
}

.search_keywords input, .search_location input, .search_region input, .search_categories input, .search_categories select, .search_categories .input-text, .search_categories .postform, .search_categories .chosen-container-multi .chosen-choices, .search_categories .chosen-container-single .chosen-single, .search_region .chosen-container-multi .chosen-choices, .search_region .chosen-container-single .chosen-single, .gjm-filter-wrapper select, .grm-filter-wrapper select, .job-application-edit select, .job-application-edit input[name="application_rating"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
}

.job_types {
    border-top: 1px solid #e7e7e7;
    list-style: outside none none;
    margin: 0 15px;
    padding: 15px 0;
}
ul.job_types {
    border: 0 none;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 58%;
}
.job_types li {
    float: left;
    margin-right: 30px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 4px 0 0;
    position: relative;
    top: 3px;
}
.job_types input[type="checkbox"] {
    float: left;
    margin: 2px 5px 0 0;
    height: 14px;
}

TABLE.job_applications {
	width: 90%;
}

TABLE.job_applications THEAD TR TH {
	background: #14B1BB; /* #2d73b6; */
	border: 1px solid #14B1BB;
	padding-left: 10px;
	color: #000;
}

TABLE.job_applications TBODY TR TD {
	border: 1px solid #333;
	padding: 2px 10px 2px 10px;
	width: 33%;	
}
TABLE.job_applications TBODY TR {
	cursor: pointer;
}
TABLE.job_applications TBODY TR:nth-child(even) {
	background: #DDD;
}
TABLE.job_applications TBODY TR:hover {
	background: #f7ffbc;
}

.pagination {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
    width: 100%;
}
.posted_jobs ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.posted_jobs ul li {
    background: #2d73b6 none repeat scroll 0 0;
    color: #fff;
    float: left;
    margin: 5px;
    padding: 50px;
    width: 30%;
    cursor: pointer;
}
ul.pagination li {
    margin: 6px;
    padding: 10px 15px;
    text-align: center;
    width: 4%;
    background: #153B65;
    color: #FFF;
    cursor: pointer;
}
ul.pagination li.active {
	background: #14B1BB;
	color: #000;
}
ul.pagination li:hover {
	background: #2d73b6 none repeat scroll 0 0;
}