body {
    height: auto;
    color: #111;
    font-family: "Roboto",sans-serif;
background: rgb(161,219,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(161,219,255,1) 0%, rgba(203,235,255,1) 53%, rgba(240,249,255,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(161,219,255,1) 0%,rgba(203,235,255,1) 53%,rgba(240,249,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(161,219,255,1) 0%,rgba(203,235,255,1) 53%,rgba(240,249,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


/*
background: rgba(179,220,237,1);
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
*/

}

body.welcome {
    background: rgba(0, 0, 0, 0) url("/images/home-bgimage.jpg") no-repeat scroll 0 0 / cover ;
    height: auto;
    color: #000;
    font-family: "Roboto",sans-serif;
}

* {
    box-sizing: border-box;
}

footer {
	bottom: 0;
    float: left;
    position: fixed;
    width: 100%;
}

#credits {
    background: #153b65 none repeat scroll 0 0;
    bottom: 0;
    padding: 14px 0;
    width: 100%;
}

.text-center {
    text-align: center;
}

.clear {
	clear: both;
}

.footer-text h5 {
    color: #fff;
    float: left;
    font-family: roboto;
    font-size: 14px;
    padding-left: 3%;
    margin: 15px 0px;
}

h5, h6 {
    letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.05em;
    margin: 2em 0;
    text-transform: uppercase;
}
h2 {
	margin: 10px 0px 10px 0px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.center {
	text-align: center;
}

em {
	font-style: italic;
	color: #D00;
}

.main_search_label {
	float: left;
	margin: 10px 5px 0px 0px;
	color: #111;
	font-size: 16px;
}

.footer-socialicon ul {
    margin-bottom: 0;
}
p, .wp-caption-text, .wp-audio-shortcode, ul, ol, div.gallery {
    margin-bottom: 2em;
}
.footer-socialicon ul li {
    display: inline-block;
    padding: 10px 0;
}

.fm-outer {
    overflow: visible;
}

#loader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000;
}
a, button, .button, #header #main-nav > li:hover, .apply-with-facebook, .apply-with-linkedin, .apply-with-xing, .widget li {
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
#header {
    line-height: 40px;
}
#header, #header-background {
    background-color: #14b1bb;
}
.alert {
	color: #900;
	font-weight: bold;
	font-style: italic;
}
.sidenav {
    height: 100vh;
}
.sidenav {
    background-color: rgba(21, 59, 101, 0.65);
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}
#header a {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-left: 60px;
    padding: 4px 0;
    text-align: justify;
    text-transform: capitalize;
}
a.closebtn {
    position: absolute;
    right: 20px;
    z-index: 1001;
}
#main {
    color: #fff;
    padding: 0;
    position: fixed;
    right: 24px;
    top: 28px;
    transition: margin-top 0.5s ease 0s;
    z-index: 9999;
}
#main span {
    background: rgb(21, 59, 101) none repeat scroll 0 0;
    border-radius: 50px;
    display: inline;
    font-size: 28px;
    padding: 6px 10px;
}
.abc {
    background: #153b65 none repeat scroll 0 0;
    float: right;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 9;
}

.search_input {
	position: relative;
}

.ui-autocomplete {
	border-radius: 0;
    border-width: 1px 0 0 0;
    margin: 44px 0 0 0px;
}

.page-id-254 .header-logo {
    text-align: center;
}
.page-id-254 .header-logo {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.header-logo {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 3px #dad6d6;
    height: 95px;
    position: fixed;
    text-align: justify;
    width: 100%;
}

.page-id-254 .header-logo img {
    margin-top: 50px;
    width: 40%;
}
.header-logo img {
    margin-left: 2%;
    padding: 10px 0;
    width: 80px;
}
.page-id-254 #title {
    padding-bottom: 0;
    padding-top: 20%;
    text-align: center;
}
#title {
    margin-top: 1%;
    padding-bottom: 9px;
    text-align: center;
    width: 100%;
}
body.page section#content {
    padding-bottom: 0;
}
section#content {
    clear: both;
    padding-bottom: 80px;
}
section#content {
    margin-top: 40px;
}
.guest_user_home_search_main {
    margin: 0 auto;
    width: 570px;
}

.footer-socialicon ul li i {
    color: #fff;
    font-size: 24px;
    padding: 0 8px;
}

IMG.menu_icon {
	height: 40px;
	float: right;
	margin: 10px 20px 0px 0px;
	cursor: pointer;
}
HEADER {
	height: 100px;
	width: 100%;
	border-bottom: 2px solid #DDD;
	padding: 10px 0px 0px 0px;
	background: #FFF;
}
HEADER IMG.logo{
	height: 80px;
	padding: 0px 0px 0px 100px;
	float: left;
}
HEADER H1 {
	text-align: center;
	margin: 25px 360px 0px 0px;
	font-family: "Roboto",sans-serif;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #153b65;
    text-indent: 200px;
}
HEADER IMG.menu_icon {
	margin: 20px 20px 0px 0px;
}
.postform {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    padding-left: 10px;
    width: 160px;
}

SELECT#job_location {
	width: 200px;
}

NAV {
	display: none;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;
	background-color: #153b65;
	color: #FFF;
}

NAV a{
	color: #FFF;
}

NAV a.close {
	text-align: right;
    color: #FFF;
/*     float: right; */
    font-size: 18px;
    font-weight: bold;
    margin: 10px 15px 10px 0px;
/*     text-shadow: none; */
    opacity: 1;
    line-height: 24px;
}

NAV UL {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 50px 10px 0px 50px;
}

NAV UL LI {
	font-size: 20px;
}

SECTION#title {
	padding: 40px 0px 0px 0px;
}
SECTION#title IMG {
	width: 180px;
}
SECTION#title H1 {
	color: #153b65;
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.3px;
    position: inherit;
    text-align: center;
    text-transform: initial;
}

INPUT {
	height: 45px;
}
INPUT.radio {
	height: 20px;
	display: inline;
}
INPUT.search_icon {
	margin: 0px 0px -10px 0px;
}
SELECT {
	height: 45px;
}

.main-loginform {
    background: rgba(122, 149, 196, 0.68) none repeat scroll 0 0;
    margin: 0 auto;
    padding: 20px 80px;
    width: 570px;
}

.main-loginform h1 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin: 10px 0 25px;
    padding-bottom: 20px;
    text-align: center;
}

.cjfm-login-form .fa {
    border-right: 1px solid;
    float: left;
    font-size: 20px;
    height: 100%;
    line-height: 16px;
    padding: 10px 25px 11px 10px;
    top: 0;
    width: 25px;
    background-color: #FFF;
    color: #ababab;
    margin: 0px -1px 0px 0px;
    
}

.cjfm-login-form input.form-control {
	width: 375px;
}
.cjfm-form .control-group {
    margin-bottom: 20px;
}


.cjfm-form .cjfm-btn {
    background: #5cb85c none repeat scroll 0 0;
    border: 1px solid #48a448;
    color: #ffffff;
}
button.submit {
    background-color: #265a94;
    border-radius: 0;
    float: right;
    padding: 10px 25px;
}
.cjfm-login-form button#do_login {
    font-size: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.cjfm-form form .forgot-password-link {
    float: right;
}
a.button-suffix.forgot-password-link {
    color: #fff;
}
.cjfm-form .button-suffix {
    margin-left: 10px;
}

span.cjfm-inline-block.button-suffix input {
    height: 15px;
    margin: 0;
}

label {
    color: #222;
    font-weight: normal;
}
.cjfm-form label {
    line-height: 1.6;
}
.cj-form-edit-profile label {
    color: #888;
}
.submit-button label {
    text-transform: capitalize;
}
.cjfm-login-form span, .cjfm-login-form label {
    color: #fff;
}

.cj-form-edit-profile form label.control-label {
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    width: 40%;
}
.cj-form-edit-profile form span.cjfm-relative {
    float: left;
    width: 60%;
}
.close:hover, .close:focus {
	color: #33a8de;
}

.cjfm-form {
    max-width: 100%;
    margin-bottom: 15px;
}
.cj-form-edit-profile {
    margin-bottom: 93px;
    width: 100%;
}

.cj-form-edit-profile form {
    margin: 0 auto;
    width: 60%;
}

.job_filters {
    float: left;
    width: 100%;
}
.job_filters, .resume_filters {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin-bottom: 60px;
    padding: 15px;
}
form.job_filters {
    background: #1d4068 none repeat scroll 0 0;
    border: 0 none;
}

.search_jobs {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.search_jobs, .search_resumes {
    display: table;
    width: 100%;
}

.search_keywords, .search_location, .search_categories, .search_region, #content .gjm-filter-wrapper, #content .grm-filter-wrapper {
    float: left;
    padding: 15px;
    width: 33.3333%;
}
.search_jobs .search_keywords, .search_jobs .search_location {
    width: 50%;
}

.search_keywords label, .search_location label, .search_categories label {
    display: block;
    float: none;
    width: 100%;
}
.search_jobs label, ul.job_types label {
    color: #fff;
    text-transform: uppercase;
}

.search_keywords input, .search_location input, .search_region input, .search_categories input, .search_categories select, .search_categories .input-text, .search_categories .postform, .search_categories .chosen-container-multi .chosen-choices, .search_categories .chosen-container-single .chosen-single, .search_region .chosen-container-multi .chosen-choices, .search_region .chosen-container-single .chosen-single, .gjm-filter-wrapper select, .grm-filter-wrapper select, .job-application-edit select, .job-application-edit input[name="application_rating"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
}

.job_types {
    border-top: 1px solid #e7e7e7;
    list-style: outside none none;
    margin: 0 15px;
    padding: 15px 0;
}
ul.job_types {
    border: 0 none;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 58%;
}
.job_types li {
    float: left;
    margin-right: 30px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 4px 0 0;
    position: relative;
    top: 3px;
}
.job_types input[type="checkbox"] {
    float: left;
    margin: 2px 5px 0 0;
    height: 14px;
}

TABLE.job_applications {
	width: 90%;
}

TABLE.job_applications THEAD TR TH {
	background: #14B1BB; /* #2d73b6; */
	border: 1px solid #14B1BB;
	padding-left: 10px;
	color: #000;
}

TABLE.job_applications TBODY TR TD {
	border: 1px solid #333;
	padding: 2px 10px 2px 10px;
	width: 33%;	
}
TABLE.job_applications TBODY TR {
	cursor: pointer;
}
TABLE.job_applications TBODY TR:nth-child(even) {
	background: #DDD;
}
TABLE.job_applications TBODY TR:hover {
	background: #f7ffbc;
}

.pagination {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
    width: 100%;
}
.posted_jobs ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.posted_jobs ul li {
    background: #2d73b6 none repeat scroll 0 0;
    color: #fff;
    float: left;
    margin: 5px;
    padding: 50px;
    width: 30%;
    cursor: pointer;
}
ul.pagination li {
    margin: 6px;
    padding: 10px 15px;
    text-align: center;
    width: 4%;
    background: #153B65;
    color: #FFF;
    cursor: pointer;
}
ul.pagination li.active {
	background: #14B1BB;
	color: #000;
}
ul.pagination li:hover {
	background: #2d73b6 none repeat scroll 0 0;
}

table.profile {
	float: left;
	margin: 20px 20px 20px 0px;
}

table.profile TH {
	border: 1px solid #000;
	background: #DDD;
	padding: 1px 5px 2px 5px;
	width: 150px;
	color: #000;
}

table.profile TD {
	border: 1px solid #000;
	color: #000;
	padding: 1px 5px 2px 5px;
	background: #FFF;
	padding: 5px;
}
table.profile TD INPUT {
	border: 1px solid #BBB;
	padding: 0px 3px;
}

ul.nav, ul.nav-pills {
    margin-bottom: 0;
}
.nav-pills > li {
	color: #14b1bb;
	padding: 5px 7px 4px 7px;
	cursor: pointer;
}
.nav-pills > li.active {
	color: #FFF;
}
.nav-pills > li.active, .nav-pills > li.active:hover, .nav-pills > li.active:focus {
    background: #153a64 none repeat scroll 0 0;
}
.nav-pills > li:hover, .nav-pills > li:focus {
    background: #597EA8 none repeat scroll 0 0;
    color: #fff;
}
.tab-content .record_video_main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #153a64;
    float: left;
    padding: 30px;
    width: 100%;
    min-height: 580px;
}
#exTab1 .tab-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding-top: 0;
    position: relative;
}

.tab-content .row {
	margin-left: 0px;
	margin-right: 0px;
}
.tab-content h3 {
	margin: 0px 0px 15px 0px;
	text-align: left;
}
.tab-content .list_videos {
    padding-left: 0;
}

.hidden {
	display: none;
}

.recorder {
	border-radius: 10px;
    height: 370px;
    margin: 10px auto;
    padding: 20px 0 0px 20px;
    text-align: center;
    width: 440px;
/* 	text-align: center; */
	background: rgba(0,0,0,0.35);
    background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#video-complete-message {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 540px;
	height: 490px;
	font-size: 20px;
	border: 1px solid #666;
	background-color: #c2f3ff;
background: rgb(135,224,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */	color: #000;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	padding: 20px;
	z-index: 15;
}
#video-complete-message button{
	border-radius: 10px;
	border: 1px solid #444;
	background: rgb(135,224,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */	color: #000;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
float: right;
cursor: pointer;
position: absolute;
bottom: -10px;
right: 15px;
}

.list_video_main_head.recorded_video h3 {
    margin-top: 0;
}
.record_video_main .recorded_video img {
    height: 100px;
    width: 100px;
}
.record_video_main .recorded_video {
    color: #888;
    float: left;
    position: relative;
}
.my_video_list input {
    display: none;
}
.my_video_list span {
    position: relative;
    width: 100%;
}
.my_video_list h4 input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #888;
    float: left;
    height: auto;
    width: auto;
}
.record_video_main i.fa.fa-trash-o.my_video_seg {
    background: #0c3865 none repeat scroll 0 0;
    color: #fff;
    font-size: 23px;
    margin: 5px;
    padding: 6px 15px;
}
div#exTab1 {
    margin-bottom: 40px;
    margin-top: 45px;
}

.search_results_container {
	width: 700px;
/* 	background: #FFF; */
	min-height: 200px;
	margin: 20px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.search_results_container UL {
	list-style: none;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

.search_results_container UL LI {
	border-bottom: 10px solid #666;
	border-top: 1px solid #666;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	color: #555;
	text-align: left;
	background: #FFF;
}

.search_results_container UL LI UL {
	padding: 0px 0px 0px 20px;
}
.search_results_container UL LI UL LI {
	border: 0;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.search_results_container UL LI H4 {
	color: #153B65;
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}
.search_results_container UL LI P {
	margin: 0px 0px 10px 0px;
}
.search_results_container UL LI img.logo {
	height: 25px;
	float: left;
}
.search_results_container UL LI button {
	margin: 0px auto;
	text-align: center;
	display: block;
}
.search_results_container UL LI .job_details {
	display: none;
	border-top: 1px dashed #DDD;
}

.question_lookup_suggestion {
	margin: 30px 0px 0px 40px;
}

#questions-list {
	min-height: 500px;
	border: 1px dotted #AAA;
}

#questions-list-for-looks {
	min-height: 500px;
	border: 1px dotted #AAA;
}

#list_of_looks {
	min-height: 500px;
}
#looks {
	border: 1px solid #333;
	border-left: 0;
	min-height: 500px;
	position: relative;
}

#looks #new_icon {
	position: absolute;
	bottom: 2px;
	left: 2px;
	height: 40px;
	cursor: pointer;
}

#new_look_collection {
	min-height: 500px;
	border: 1px dotted #AAA;
}
INPUT#name_of_look {
	height: 30px;
}

#list_of_videos_for_look {
	min-height: 500px;
}

.questions-list UL {
	list-style: none;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.questions-list UL LI {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 106px;
	width: 100%;
	z-index: 5;
}
.questions-list UL LI DIV.screenshot {
	padding: 5px 5px 5px 5px;
	border-right: 1px solid #444;
	float: left;
	margin: 0px 40px 0px 0px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 140px;
	height: 105px;
}
.questions-list UL LI DIV.screenshot IMG {
	height: 60px;
    margin: 15px 30px;
	text-align: center;
	cursor: pointer;
}

.questions-list UL LI P {
	margin: 15px 0px 0px 0px;
}

#transitionwindow {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
	background: #FFF;
	width: 1138px;
	height: 578px;
	display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#video_dialog {
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 680px; /* Could be more or less, depending on screen size */
    position: relative;
}

IMG.modal_close {
	position: absolute;
	top: -20px;
	right: -20px;
	z-index: 12;
	cursor: pointer;
	height: 40px;
}

DIV.recorder object {
	display: none;
}
DIV.recorder IMG#loading {
	margin: 70px auto 0px auto;
	text-align: center;
	display: none;
	width: 200px;
	padding: 0px 35px 0px 0px;
}

BUTTON.disabled, .btn-primary.disabled, .btn-primary[disabled] {
	background: #CCC;
	color: #111;
}
